@model SampleKendoGrid.Models.ModelClass
@using Kendo.Mvc.UI
@{
    ViewBag.Title = "DetailList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <base href="https://demos.telerik.com/kendo-ui/datasource/index">
    <style>
        html {
            font-size: 14px;
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
    <title></title>
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.1.220/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.1.220/styles/kendo.material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.1.220/styles/kendo.material.mobile.min.css" />

    <script src="https://kendo.cdn.telerik.com/2019.1.220/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2019.1.220/js/kendo.all.min.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>

</head>
<h2>DetailList</h2>

@(Html.Kendo().Grid<SampleKendoGrid.Models.ModelClass
>()
        .Name("EmpGrid")
         .Columns(columns =>
                {
                    columns.Bound(c => c.Id);

                    columns.Bound(c => c.Name);
                    columns.Bound(c => c.City);

                })
        .DataSource(dataSource => dataSource
            .Ajax()

            .Read(read => read.Action("DetailList", "Sample"))
            )
)  